a {
  cursor: pointer;
}
.pagination>li>a {
    margin-left: 10px;
}
.pagination>.page {
    font-size: 16px;
    line-height: 30px;
    margin: 0 10px;
}
.pagination>.page>input {
    font-size: 14px;
    width: 40px;
    border: 1px solid #ddd;
    text-align: center;
}
.pagination>.page>.btn {
    color: #337ab7;
    border-radius: 0;
    line-height: 20px;
}
.pagination>li>a[disabled]:hover {
  cursor: not-allowed;
}
body {
    background: url(http://dev.admin.carrots.ptteng.com/images/login-bg-orange.jpg) no-repeat;
    background-size: cover;
}
.nav>li>a:focus {
    background: none;
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.navbar-default {
    background: #fff;
}

.brand {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: url(http://dev.admin.carrots.ptteng.com/images/login-bg-orange.jpg) no-repeat;
    line-height: 50px;
    padding: 0 50px;
}
.navbar-header {
    width: 250px;
    float: left;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
}
@media(max-width: 768px){
    .navbar-header {
        float: none;
        width: auto;
        text-align: left;
    }
}
    .navbar-header .navbar-toggle {
        border-color: #fff;
    }
    .navbar-header .navbar-toggle:hover {
        background: none;
    }
    .navbar-header .navbar-toggle .icon-bar {
        background: #fff;
    }
.top-header {
    overflow: hidden;
    line-height: 50px;
    box-shadow: 0 0 6px #e3e2e2;
}
    .user-center a {
        display: inline-block;
        color: #337ab7;
        padding: 0 15px;
        text-decoration: none;
        margin-right: 10px;
    }
    .user-center .btn-close {
        color: #feb454;
        cursor: pointer;
    }
    .user-center a:hover {
        background: #f7f7f7;
    }
.main {
    overflow: hidden;
    min-height: calc(100vh - 51px)
}
.main .sibe-bar {
    padding: 0;
}
    .sibe-bar>.nav .glyphicon-pencil {
        font-size: 15px;
        margin-right: 10px;
    }
    .sibe-bar>.nav .glyphicon-menu-left {
        float: right;
        margin-right: 15px;
        font-size: 14px;
        font-weight: 100;
    }
    .sibe-bar>.nav a {
        font-size: 16px;
        color: #fff;
    }
    .sibe-bar>.nav>li>a {
        cursor: pointer;
    }
    .sibe-bar>.nav a:hover {
        background: #feae45;
    }
    .sibe-bar .sub-list {
        display: none;
    }
    .sibe-bar .active {
        display: block;
    }
    .sibe-bar .sub-list a {
        font-size: 14px;
        padding-left: 60px;
    }
    .active>li>.active {
        background: #feae45;
    }
    .sub-list>li>a:focus {
        background: #feae45;
    }

@media(min-width: 768px){
    .main .sibe-bar {
        float: left;
        width: 250px;
        padding-top: 40px;
        padding-bottom: 3000px;
        margin-bottom: -3000px;
    }
}
.content {
    overflow: hidden;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3000px;
    margin-bottom: -3000px;
    background: #f5f5f5;
}
.option-box {
    padding: 15px 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 15px;
}
.row {
    margin-bottom: 15px;
}
    .laber-control {
        margin-top: 7px;
        text-align: right;
        padding-right: 0;
    }
    .btn-option {
        margin-right: 15px;
    }
.article-content {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #fff;
    margin-bottom: 15px;
}
    .article-header {
        background: #f5f5f5;
        padding: 10px 15px;
    }
    .article-table {
        padding: 15px;
    }
    .article-table th {
        text-align: center;
    }
    .table>tbody>tr>td {
        vertical-align: middle;
        text-align: center;
    }