html {
	font-size: 625%;
}
body, a, ul, li, p, header, main, footer, img {
	font-weight: 100;
	padding: 0;
	margin: 0;
}
ul, li {
	list-style-type: none;
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
header {
	width: 100%;
	background: #29bde0;
	margin-bottom: 0;
	color: #fff;
	font-size: 0.2rem; 
	line-height: 0.5rem;
	border-bottom: 0.01rem solid #74d4eb;
}
	header a {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: url(../image/icon.png) no-repeat;
		width: 0.25rem;
		height: 0.26rem;
	}
	header .head-more {
		left: 0.2rem;
		background-position: -0.1rem -1.68rem;
	}
	header .head-close {
		right: 0.2rem;
		background-position: -0.1rem -2.1rem;
	}
main {
	margin-top: 0.5rem;
	margin-bottom: 0.81rem;
	overflow-y: auto;
	overflow-x: hidden;
}
	.content {
		background: #29bde0;
		padding: 0 10%;
	}
	.icon {
		margin-top: 0.15rem; 
	}
	.icon img {
		width: 50%;
	}
	.explain {
		font-size: 0.16rem;
		font-weight: 700;
		color: #ffc865;
		margin: 0.15rem auto;
	}
	.data {
		color: #fff;
		font-size: 0.14rem;
		text-align: left;
		margin: 0.15rem auto;
	}
		.census-list {
			margin: 0.1rem 0;
		}
		.census-item {
			float: left;
			margin-right: 0.2rem;
		}
	.detail {
		background: #fff;
		padding-left: 5%;
		border-bottom: 0.01rem solid #ddd;
	}
		.detail .day {
			color: #000;
			line-height: 0.25rem;
			font-weight: 500;
		}
		.detail .time {
			color: #ccc;
			font-size: 0.12rem;
			line-height: 0.25rem;
		}
		.detail .state {
			color: #a6a6a6;
			font-size: 0.13rem;
			margin: 0.1rem 0;
			line-height: 1.5;
		}
footer {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.15rem;
	font-size: 0.2rem;
	background: rgba(41,189,224,.4);
}
	footer button {
		width: 50%;
		height: 0.5rem;
		border-radius: 0.1rem;
		outline: none;
		cursor: pointer;
		color: #fff;
		border: 0;
	}
	.btn-mess {
		background: #f66f6f;
		margin-right: 0.15rem;
	}
	.btn-phone {
		background: #fbb435;
		color: #fff;
	}