html {
	font-size: 625%;
}
html, body, button, ul, li, img, header, main, footer {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: #999;
}
header {
	background: #5fc0cd;
	overflow: hidden;
}
	.tabs {
		height: 0.55rem;
		padding: 0.1rem;
		text-align: center;
	}
	.tabs button {
		padding: 0;
		width: 0.8rem;
		height: 0.35rem;
		border-radius: 0.05rem;
		font-size: 0.16rem; 
		outline: none;
		border: 0;
	}
	.btn-one {
		background: #55a8b3;
		color: #fff;
		margin-right: -0.1rem;
	}
	.btn-two {
		background: #fff;
		color: #5fc0cd;
	}
	.location {
		position: absolute;
		top: 50%;
		right: 3%;
		transform: translateY(-50%);
	}
	.location img {
		width: 0.25rem;
	}
main {
	position: absolute;
	width: 100%;
	top: 1rem;
	bottom: 0.55rem;
	overflow-x: hidden;
	overflow-y: auto;
}
	.class-list {
		position: fixed;
		width: 100%;
		top: 0.55rem;
		line-height: 0.4rem;
		border-bottom: 1px solid #e2eaec;
		background: #fff;
		z-index: 1;
	}
	.class-item {
		position: relative;
		border-right: 1px solid #e2eaec;
	}
	.class-item:hover .class-menu {
		display: block;
	}
	.class-menu {
		display: none;
		position: absolute;
		top: 0.4rem;
		left: 0;
		padding: 0.05rem 0;
		text-align: center;
		background: #fff;
		width: 100%;
		box-shadow: 0 5px 10px rgba(0,0,0,.1)
	}
	.class-menu a {
		display: block;
	}
	.class-menu a:hover {
		background: #5fc0cd;
		color: #fff;
		text-decoration: none;
	}
	.class-item .caret{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.15rem;
	}
	.class-item:last-child {
		border: none;
	}
	.content {
		padding: 0 0.15rem;
		border-bottom: 1px solid #e2eaec;
	}
	.main-title, .main-add {
		margin: 0.1rem 0;
		color: #999;
		font-size: 0.14rem;
	}
	.main-title:before {
		content: " ";
		display: inline-block;
		background: url(../image/icon.png) no-repeat -5px -30px;
		background-size: 0.4rem;
		width: 0.22rem;
		height: 0.22rem;
		vertical-align: middle;
		margin-right: 0.05rem;
	}
	.main-add:before {
		content: " ";
		display: inline-block;
		background: url(../image/icon.png) no-repeat -5px -2px;
		background-size: 0.4rem;
		width: 0.22rem;
		height: 0.22rem;
		vertical-align: middle;
	}
	.main-date {
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		padding-left: 0.3rem;
		padding-right: 0;
		font-size: 0.16rem;
		color: #000;
	}
	.main-price {
		position: relative;
		font-size: 0.16rem;
		color: red;
		padding-right: 0.2rem;
		padding-left: 0;
	}
	.main-price:after {
		content: " ";
		position: absolute;
		background: url(../image/icon.png) no-repeat 0 -59px;
		background-size: 0.4rem;
		width: 0.2rem;
		height: 0.2rem;
		vertical-align: text-bottom;
	}
footer {
	height: 0.55rem;
	padding: 0.05rem 0;
	background: #f8fafb;
	border-top: 1px solid #e2eaec;
	text-align: center;
	overflow: hidden;
}
	footer button {
		display: inline-block;
		border: 0;
		outline: 0;
		width: 0.3rem;
		color: #999;
		background: transparent;
		vertical-align: middle;
	}
	.revise {
		width: 0.45rem;
		height: 0.45rem;
		background: #5fc0cd;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 15%;
	}
	.home .icon {
		display: block;
		background: url(../image/icon.png) -5px -90px;
		background-size: 0.4rem;
		width: 0.3rem;
		height: 0.25rem;
	}
	.revise .icon {
		display: block;
		background: url(../image/icon.png) 5px -156px;
		background-size: 0.4rem;
		width: 0.45rem;
		height: 0.45rem;
	}
	
	.user .icon {
		display: block;
		background: url(../image/icon.png) -4px -127px;
		background-size: 0.4rem;
		width: 0.3rem;
		height: 0.25rem;
	}