header {
	border-bottom: 0.01rem solid #74d4eb;
}
	.head-more {
		left: 0.15rem;
		@include icon-btn(.25, .26, -0.1rem -1.68rem);
	}
	.head-close {
		right: 0.15rem;
		@include icon-btn(.25, .26, -0.1rem -2.1rem);
	}
main {
	@include main(.5, 0.8);
}
	.result {
		background: #29bde0;
		padding: .15rem 10%;
		img {
			width: 50vw;
		}
	}
	.explain {
		font-weight: 700;
		color: #ffc865;
		margin: 0.15rem 0;
	}
	.data {
		color: #fff;
		font-size: 0.14rem;
		text-align: left;
		margin: 0.15rem 0;
	}
		.census-list {
			margin: 0.1rem 0;
			.item {
				float: left;
				margin-right: 0.2rem;
			}
		}
		
	.detail {
		background: #fff;
		padding: .1rem 5%;
		border-bottom: 0.01rem solid #ddd;
		overflow: hidden;
		.day {
			color: #000;
			font-weight: 500;
		}
		.time {
			color: #ccc;
			font-size: 0.12rem;
		}
		.state {
			color: #a6a6a6;
			font-size: .13rem;
			margin-top: .1rem;
		}
	}
footer {
	display: flex;
	padding: .15rem;
	background: rgba(41,189,224,.4);
}
	.btn-mess {
		@include analog-btn(#f66f6f);
		margin-right: .15rem;
		border-radius: .1rem;
	}
	.btn-phone {
		@include analog-btn(#fbb435);
		border-radius: .1rem;
	}