@import "sass.scss";

html {
	font-size: 625%;
}
body, a, ul, li, p, header, main, footer, img {
	font-weight: 100;
	padding: 0;
	margin: 0;
}
ul, li {
	list-style-type: none;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	line-height: 0.5rem;
	#{$bg}: $color;
	font-size: 0.2rem;
	color: #fff;
}
	.head-back {
		@include half;
		display: block;
		position: absolute;
		height: 0.25rem;
		width: 0.25rem;
		text-align: center;
		left: 3%;
		img {
			width: 0.15rem;
			height: 0.25rem;
			vertical-align: top;
		}
	}
	.head-title {
		text-align: center;
	}
main {
	position: absolute;
	top: 0.5rem;
	bottom: 0.8rem;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
	.info {
		position: relative;
		color: #fff;
		@include bg(bg, cover, 100%, 2rem, jpg);
	}
		.info-avatar {
			@include half;
			position: absolute;
			left: 0.2rem;
			img {
				width: 0.8rem;
				height: 0.8rem;
			}
		}
		.info-detail {
			@include half;
			position: relative;
			margin-left: 1.2rem;
		}
			.info-name {
				font-size: 0.16rem;
				margin-bottom: 0.05rem;
			}
			.info-add {
				position: relative;
				font-size: 0.14rem;
				.icon {
					position: absolute;
					display: block;
					@include bg(add, 0.12rem 0.16rem, 0.12rem, 0.16rem);
				}
				span {
					margin-left: 0.2rem;
				}
			}
	.skill {
		font-size: 0.14rem;
	}
		.skill-title {
			height: 0.5rem;
			line-height: 0.5rem;
			padding-left: 0.2rem;
			border-bottom: 1px solid #e1e5e7;
			span {
				padding-left: 0.1rem;
				border-left: 3px solid $color;
			}
		}
		.skill-list {
			margin: 0 0.15rem;
		}
			.skill-item {
				position: relative;
				padding: 0.15rem;
				border-bottom: 1px solid #e1e5e7;
			}
				.first p {
					display: inline-block;
					padding: 0 0.1rem;
					border-right: 1px solid #ccc;
					&:last-child {
						border-right: none;
					}
					 .icon {
						display: inline-block;
						vertical-align: text-top;
						margin-right: 0.05rem;
						@include bg(star,0.15rem 0.15rem, 0.15rem, 0.15rem)
					}
				}
				.skill-item {
					.item-dt {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						padding-right: 0.1rem;
						color: #999;
						border-right: 1px solid #ccc;
					}
					.item-dd {
						margin-left: 6em;
					}
					.price {
						color: #e26163;
						font-weight: 700;
					}
				}
footer {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.15rem;
	#{$bg}: #fff;
	button {
		width: 50%;
		height: 0.5rem;
		border-radius: 0.1rem;
		outline: none;
		font-size: 0.16rem;
		cursor: pointer;
	}
}
	.btn-mess {
		#{$bg}: #fff;
		border: 2px solid $color;
		margin-right: 0.15rem;
		color: $color;
	}
	.btn-phone {
		#{$bg}: $color;
		border: 2px solid $color;
		color: #fff;
	}