/* 位置布局 */
.g-header {
	@include fixed;
	top: 0;
	background: $bg-color;
	font-size: .2rem;
}
.g-footer {
	@include fixed;
	bottom: 0;
	box-sizing: border-box;
}
.g-header-tit {
	line-height: 2.5;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-center {
	text-align: center;
}
/* 位置布局 end */

/* 导航条折叠组件 */
.navbar-toggle {
	background: transparent;
	padding: .19rem .14rem .13rem;
	margin-left: .1rem;
	.icon-bar {
		display: block;
		@include size(.22, .02);
		border-radius: .01rem;
		background: #fff;
		margin-bottom: .04rem;
	}
}
/* 导航条折叠组件 end */

/* 幻灯片小图标导航 */
.icon-nav {
	position: absolute;
	width: 100%;
	bottom: .03rem;
	.item {
		@include size(.15, .15);
		display: inline-block;
		background: #f0f0f0;
		border-radius: 100%;
		overflow: hidden;
		margin-right: .05rem;
		cursor: pointer;
	}
	.active {
		background: $bg-color;
	}
}
/* 幻灯片小图标导航 end */

/* 栅格系统 */
.col-xs-4 {
	width: 33.33333%;
	float: left;
}
.col-xs-8 {
	width: 66.66666%;
	float: left;
}
.col-xs-12 {
	width: 100%;
	float: left;
}
/* 栅格系统 end */

