main {
	@include main(.5, 0);
	padding: .15rem;
	background: #f0f0f0;
	font-weight: 100;
}
	.section {
		position: relative;
		border: .01rem solid #c9c9c9;
		margin: .15rem 0;
		color: $grey-color;
		background: #fff;
		font-size: .2rem;
	}
	.ver-history {
		line-height: 3;
		.next {
			position: absolute;
			top: 50%;
			right: .2rem;
			width: .13rem;
			height: .13rem;
			transform: translateY(-50%) rotate(45deg);
			color: $grey-color;
			cursor: pointer;
			border: {
				style: solid;
				width: .04rem;
				color: #e7e7e7 #e7e7e7 transparent transparent;
			}
		}
	}
	.ver-title {
		line-height: 3;
		color: $yellow-color;
		border-bottom: .01rem solid $yellow-color;
	}
	.content {
		padding: .15rem .4rem;
		overflow: hidden;
		a {
			@include analog-btn(#69d1e9);
			&hover {
				opacity: .8;
			}
		}
		.tips {
			font-size: 0.14rem;
			margin: .15rem 0;
		}
	}
		.next-ver {
			position: absolute;
			top: 50%;
			right: -.1rem;
			cursor: pointer;
			border: {
				style: solid;
				width: .2rem;
				color: transparent transparent transparent $yellow-color;
			}
		}