html, body {
	background: $bg-color;
}
	.head-more {
		left: .15rem;
		@include icon-btn(.25, .26, -.1rem -3.46rem);
	}
	.head-close {
		right: .15rem;
		@include icon-btn(.25, .26, -.1rem -2.56rem);
	}
main {
	@include main(1.4, .6);
}
	.tips-info {
		@include fixed;
		top: .5rem;
		background: rgba(185,233,245,.5);
		font-size: .14rem;
	}
	.rule {
		position: relative;
		line-height: 3.5;
		padding-left: .3rem;
		p {
			font-weight: 500;
			color: #000;
		}
		.play {
			@include icon-btn(.25, .25, -.1rem -3.01rem);
			overflow: hidden;
			right: .15rem;
			audio {
				opacity: 0;
				z-index: -999;
			}
		}
		&:before {
			content: " ";
			position: absolute;
			bottom: -.15rem;
			border: {
				width: .08rem .05rem;
				style: solid;
				color: #b9e9f5 transparent transparent;
			}
		}
	}
	.tips {
		line-height: 3;
		padding-left: 0.4rem;
		color: #fff;
		background: rgba(41,189,224,.5);
	}
	.content {
		padding: .15rem 0;
		overflow: hidden;
	}
		.option {
			position: relative;
			@include size(.95, .95);
			background: #f5c97b;
			border: .05rem solid #fff;
			text-align: center;
			margin: 0 auto 0.4rem;
			cursor: pointer;
			&:hover .ide-skill {
				display: block;
			}
		}
		.identity {
			line-height: 4.7;
		}
		.number {
			position: absolute;
			width: 100%;
			line-height: 1.3;
			bottom: 0;
			color: #fff;
			background: #83b09a;
		}
		.ide-skill {
			display: none;
			position: absolute;
			width: 1rem;
			bottom: -.45rem;
			padding: .1rem 0;
			cursor: default;
			.item {
				float: left;
				margin-right: .05rem;
				@include size(.2, .2);
				overflow: hidden;
				background: url(#{$icon-path}) no-repeat;
				cursor: pointer;
				&:nth-child(1) {
					background-position: -.1rem -.1rem;
				}
				&:nth-child(2) {
					background-position: -.1rem -.5rem;
				}
				&:nth-child(3) {
					background-position: -.1rem -1.3rem;
				}
				&:nth-child(4) {
					background-position: -.1rem -.9rem;
					margin-right: 0;
				}
			}
		}	
footer {
	background: rgba(41,189,224,.4);
	padding: .1rem 5vw;
}
	.confirm {
		@include analog-btn(#fbb435);
	}