@mixin size($w, $h) {
	width: #{$w}rem;
	height: #{$h}rem;
}
@mixin fixed {
	position: fixed;
	width: 100%;
	color: #fff;
	z-index: 999;
}
@mixin main( $top, $bottom ) {
	margin: {
		top: #{$top}rem;
		bottom: #{$bottom}rem;
	}
	overflow: {
		y: auto;
		x: hidden;
	}
}
@mixin icon-btn( $w, $h ,$position ) {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: url(../image/icon.png) no-repeat $position ;
	@include size($w, $h)
}
@mixin analog-btn( $bgcolor ) {
	display: inline-block;
	width: 100%;
	line-height: 2.5;
	font-size: .2rem;
	background: $bgcolor;
	text-decoration: none;
	text-align: center;
}