html {
	font-size: 625%;
}
body, a, ul, li, p, header, main, footer, img {
	font-weight: 100;
	padding: 0;
	margin: 0;
}
ul, li {
	list-style-type: none;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	line-height: 0.5rem;
	background: #5fc0cd;
	font-size: 0.2rem;
	color: #fff;
}
	.head-back {
		display: block;
		position: absolute;
		height: 0.25rem;
		top: 50%;
		transform: translateY(-50%);
		left: 3%;
	}
		.head-back img {
			width: 0.15rem;
			height: 0.25rem;
			vertical-align: top;
		}
	.head-title {
		text-align: center;
	}
main {
	position: absolute;
	top: 0.5rem;
	bottom: 0.8rem;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
	.info {
		position: relative;
		height: 2rem;
		color: #fff;
		background: url(image/info-bg.jpg) no-repeat center;
		background-size: cover;
	}
		.info-avatar {
			position: absolute;
			top: 50%;
			left: 0.2rem;
			transform: translateY(-50%);
		}
		.info-avatar img {
			width: 0.8rem;
			height: 0.8rem;
		}
		.info-detail {
			position: relative;
			top: 50%;
			margin-left: 1.2rem;
			transform: translateY(-50%);
		}
			.info-name {
				font-size: 0.16rem;
				margin-bottom: 0.05rem;
			}
			.info-add {
				position: relative;
				font-size: 0.14rem;
			}
			.info-add .icon {
				position: absolute;
				display: block;
				width: 0.12rem;
				height: 0.16rem;
				background: url(image/add.png) no-repeat;
				background-size: 0.12rem 0.16rem;
			}
			.info-add span {
				margin-left: 0.2rem;
			}
	.skill {
		font-size: 0.14rem;
	}
		.skill-title {
			height: 0.5rem;
			line-height: 0.5rem;
			padding-left: 0.2rem;
			border-bottom: 1px solid #e1e5e7;
		}
			.skill-title span {
				padding-left: 0.1rem;
				border-left: 3px solid #5fc0cd;
			}
		.skill-list {
			margin: 0 0.15rem;
		}
			.skill-item {
				position: relative;
				padding: 0.15rem;
				border-bottom: 1px solid #e1e5e7;
			}
				.first p {
					display: inline-block;
					padding: 0 0.1rem;
					border-right: 1px solid #ccc;
				}
				.first p:last-child {
					border-right: none;
				}
				.first .icon {
					display: inline-block;
					width: 0.15rem;
					height: 0.15rem;
					background: url(image/star.png) no-repeat;
					background-size: 0.15rem 0.15rem;
					vertical-align: text-top;
					margin-right: 0.05rem;
				}
				.skill-item .item-dt {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					padding-right: 0.1rem;
					color: #999;
					border-right: 1px solid #ccc;
				}
				.skill-item .item-dd {
					margin-left: 6em;
				}
				.skill-item .price {
					color: #e26163;
					font-weight: 700;
				}
footer {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.15rem;
	background: #fff;
}
	footer button {
		width: 50%;
		height: 0.5rem;
		border-radius: 0.1rem;
		outline: none;
		font-size: 0.16rem;
		cursor: pointer;
	}
	.btn-mess {
		background: #fff;
		border: 2px solid #5fc0cd;
		margin-right: 0.15rem;
		color: #5fc0cd;
	}
	.btn-phone {
		background: #5fc0cd;
		border: 2px solid #5fc0cd;
		color: #fff;
	}